# Intellij files
*.iml
*.iws
*.ipr

.idea/caches
.idea/libraries
.idea/modules
.idea/modules.xml
.idea/deploymentTargetDropDown.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/misc.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/.name
.idea/kotlinc.xml
.idea/kotlinScripting.xml
.idea/compiler.xml
.idea/shelf
.idea/vcs.xml

# Gradle files
.gradle
local.properties
**/build

# Files for the ART/Dalvik VM
*.dex

# Java class files
*.class

# Log Files
*.log

# Android Studio captures folder
**/captures

# External native build folder generated in Android Studio 2.2 and later
**/.externalNativeBuild
**/.cxx

# Windows specific files
Thumbs.db
thumbs.db

# Linux specific files
.directory

# Mac specific files
.DS_Store